:root{
--prim-color-blue: #16D9F2;
--prim-color-green: #84F547;
--prim-color-yellow: #EEFF00;

--sec-color-lightbeige: #C5B800;
--sec-color-darkbeige: #C5B800;
--sec-color-lightgreen: #68B400;
--sec-color-darkgreen: #528E00;
--sec-color-lightocean: #00A28C;
--sec-color-mediumocean:#007C6B;
--sec-color-darkocean: #006154;

--pb-color-black: #0D0D0D;
--pb-color-gray: #B9B9B9;
--pb-color-white: #F2F2F2;
--pb-color-rosedwhite: #E1E3E2;
--pb-color-graywhite: #F2EEEB;

--comp-color-lightred: #A70049;
--comp-color-darkred: #830039;
}

.fa-google {
    vertical-align: middle;
    font-size: 22px;
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-right: 8px;
}

